<div>
    <span class="advertise-title">
        Mọi chi tiết cần tìm gia sư xin liên hệ với chúng tôi để được tư vấn
    </span>
    <span class="advertise-name">
        {{ site.name }}
    </span>
    <span class="advertise-contact">
        ĐT: {{site_config.phone1}} - {{site_config.phone2}}
    </span>
    <span class="advertise-info">
        Chúng tôi luôn đồng hành và hỗ trợ trong suốt quá trình học tập của bạn
    </span>
</div>
