{% extends "base.twig" %}

{% block content %}
    <div class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
        {{ function('bcn_display') }}
    </div>
    <div class="content-wrapper">
        <h3 class="category-h1">{{currentCategory.name}}</h3>
        <div class="category-description">
            <strong>{{currentCategory.description}}</strong>
        </div>
        {% if posts %}
            <table id="category-lopmoi" cellspacing="0" width="100%">
                <thead style="display: none;">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr><td>
                        {% include 'category-quanli_lopmoi-item.twig' with {'post_new_class' : post, 'hidden_register_class' : 'block'} %}
                        </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Đang cập nhật nội dung
        {% endif %}
    </div><!-- /content-wrapper -->
{% endblock %}
