<div class="span-5 last">
    <div class="sidebar sidebar-right">
        {# <div id="social">
            {% for item in social_menu.get_items %}
                <a href="{{item.get_link}}"><i class="{{item.classes | join(' ')}}"></i></a>
            {% endfor %}
        </div> #}

        <!-- dynamic sidebar -->
        {{sidebar_right}}
    </div>
</div>
